django>=4.2.3
fastapi==0.100.0
uvicorn==0.22.0
torch==2.0.1
torchvision==0.15.2
python-multipart==0.0.6
pillow==9.5.0
twilio>=7.18.0
tensorflow>=2.8.0
sentence-transformers>=2.2.0
scikit-learn>=1.0.2
Pillow>=9.0.0
numpy>=1.21.0
tensorflow>=2.10.0
tf_keras>=0.3.3
transformers>=4.20.1

# for production use
gunicorn>=20.1.0
whitenoise>=5.2.0
psycopg2-binary>=2.9.3

huggingface_hub>=0.13.3
