django>=5.0.4
fastapi==0.110.0
uvicorn==0.29.0
torch==2.7.0
torchvision==0.18.0
python-multipart==0.0.9
pillow==10.3.0
twilio>=9.0.1
tensorflow>=2.15.0
sentence-transformers>=2.6.1
scikit-learn>=1.4.2
numpy>=1.26.4
tf_keras>=0.5.0
transformers>=4.40.0

# for production use
gunicorn>=21.2.0
whitenoise>=6.6.0
psycopg2-binary>=2.9.9

huggingface_hub>=0.23.2
dj-database-url>=2.1.0
python-dotenv>=1.0.1
numpy<2

channels==3.0.5
channels_redis

daphne
uvicorn

nltk
fuzzywuzzy
python-Levenshtein

keybert
