{% extends 'base.html' %}
{% load static %}

{% block title %}About Page{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
{% endblock %}

{% block navbar %}
<nav class="header-container">
  <div class="navbar-logo">
      <img class="snsu-logo" src="{% static 'img/SNSU-Logo.png' %}" alt="SNSU Logo">
      <img class="snsu-logo" src="{% static 'img/USC-Logo2.png' %}" alt="USC Logo">
  </div>
  <div class="tabs">
      <div><a class="navlink" href="{% url 'home_page:home' %}">Home</a></div>
      <div><a class="navlink" href="{% url 'home_page:about' %}">About</a></div>
      <div><a class="navlink" href="{% url 'home_page:contact' %}">Contact</a></div>
  </div>
</nav>
{% endblock %}

{% block content %}

{% endblock %}